/* 
* Current Menu (field_5_83)
    field_5_3
* Upcoming Menus (field_5_73)
    field_5_101, field_5_102, field_5_103, 
* Enhancements (field_5_11)
* Soups (field_5_96)
    field_5_12, field_5_14, field_5_21, field_5_22, field_5_23, field_5_69, 
* Salads (field_5_85)
    field_5_86, field_5_87, field_5_88
* Entrees (field_5_114)
    field_5_115, field_5_116
* By the Pound (field_5_113)
    field_5_97
* Desserts (field_5_97)
    field_5_93, field_5_94, field_5_95, field_5_109, field_5_110, field_5_111,field_5_112
* Order Date
    field_5_108
*/

/* WEEKLY CHANGES */

/* HIDE ALL UPCOMING */
#field_5_102,
#field_5_103 {
  display: none !important;
}
/* HIDE UNTIL NEEDED - ENTREES */
#field_5_114,
#field_5_115,
#field_5_116 {
  display: none !important;
}
/* HIDE UNTIL NEEDED - DESSERTS */
#field_5_109,
#field_5_110,
#field_5_111,
#field_5_112 {
  display: none !important;
}
/* WEEK 1 - ENTREES TO UNHIDE */
/* WEEK 1 - DESSERTS TO UNHIDE */

/* WEEK 2 - ENTREES TO UNHIDE */
/* #field_5_114, #field_5_115 {
display: block !important;
} */
/* WEEK 2 - DESSERTS TO UNHIDE */
/* #field_5_110 {
display: block !important;
} */

/* WEEK 3 - ENTREES TO UNHIDE */
/* WEEK 3 - DESSERTS TO UNHIDE */
/* #field_5_111 {
display: block !important;
} */

/* WEEK 4 - ENTREES TO UNHIDE */
/* #field_5_114, #field_5_116 {
display: block !important;
} */
/* WEEK 4 - DESSERTS TO UNHIDE */
/* #field_5_112 {
display: block !important;
} */

/* CIRCULAR FONT */
@font-face {
  font-family: "Circular Std Book";
  src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot");
  src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book")
      format("svg");
}

#gform_fields_5 {
  font-family: "Circular Std Book", "Open Sans";
  letter-spacing: 0.3px;
  font-size: 1.1em !important ;
}

#field_5_114,
#field_5_113 {
  margin-top: 0px !important;
}

/* Error messages */
#ordering-form
  > div
  > div
  > div
  > div
  > div
  > div.elementor-element.elementor-element-8402693.elementor-widget.elementor-widget-wc-elements
  > div
  > div
  > div
  > div.woocommerce-notices-wrapper
  > ul
  > li
  > a {
  color: white !important;
  background-color: #0a2657 !important;
}

/* Error messages */
#ordering-form
  > div
  > div
  > div
  > div
  > div
  > div.elementor-element.elementor-element-8402693.elementor-widget.elementor-widget-wc-elements
  > div
  > div
  > div
  > div.woocommerce-notices-wrapper
  > ul
  > li {
  color: black !important;
}

#field_5_3 {
  margin-bottom: 0px !important;
}

#field_5_3 > label {
  font-size: 1.1em !important;
}

#input_5_3,
#field_5_3
  > div.ginput_container.ginput_container_singleproduct
  > span.quantity-sign.minus-quantity,
#field_5_3
  > div.ginput_container.ginput_container_singleproduct
  > span.quantity-sign.plus-quantity,
#ginput_quantity_5_3 {
  margin-top: -50px !important;
  z-index: 200 !important;
  line-height: 25px !important;
}

/* All products take up full container */
.woocommerce div.product div.summary {
  width: 100%;
} /* Text align the whole container */
#gform_fields_5 {
  text-align: center;
}

/* Remove Related Products Menu */
.related.products {
  display: none !important;
}

/* Remove Product Images */
.woocommerce div.product div.images.woocommerce-product-gallery,
div.product_meta {
  display: none !important;
}

/* Remove product price label */
span.ginput_product_price_label {
  display: none !important;
}

/* Remove input quantity label */
.ginput_quantity_label {
  display: none !important;
  margin-left: auto !important;
}

/* Each product to have border etc */
.gf_left_half,
.gf_right_half,
.gf_left_third,
.gf_middle_third,
.gf_right_third {
  border: 1px solid #d1cfcf;
  padding: 10px 50px !important;
  position: relative;
}

/* Remove padding */
.gform_wrapper .description,
.gform_wrapper .gfield_description,
.gform_wrapper .gsection_description {
  padding: 0 0 0 0 !important;
}

/* Labels for each Product */
label.gfield_label {
  order: 0;
  color: #0a2657;
  font-weight: 700;
}

/* Pricing container */
.gfield_price .ginput_container {
  order: 2 !important;
  margin-top: 10px !important;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}

/* More pricing container per product */
.ginput_container_singleproduct {
  bottom: 0 !important;
  margin-bottom: 10px !important;
  width: 100% !important;
  right: 10px !important;
  padding: 0 10px !important;
  position: absolute;
}

/* Product Price */
.ginput_product_price {
  font-weight: 600;
  color: #0a2657 !important;
  font-size: 14px;
  vertical-align: middle !important;
  margin-top: 7px;
  margin-right: 10px;
  display: inline-block !important;
}

.ginput_quantity {
  text-align: center !important;
  padding: 5px !important;
  background: transparent !important;
  border: none !important;
  color: #0a2657 !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  display: inline-block !important;
  max-width: 40px !important;
}

.quantity-sign {
  color: #0a2657 !important;
  margin: 0 !important;
  font-size: 30px !important;
  outline: none;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.minus-quantity {
  margin-right: 5px !important;
}

.gform_wrapper
  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
  padding: 0px;
}

#gform_submit_button_5 {
  border: 1px solid #d1cfcf !important;
  background: transparent !important;
  color: #515151 !important;
  text-transform: uppercase !important;
  float: right !important;
  padding: 15px 30px !important;
  transition: all 0.3s ease-in-out !important;
  border-radius: 0 !important;
}

@media only screen and (min-width: 300px) {
  .gf_left_half,
  .gf_right_half,
  .gf_left_third,
  .gf_middle_third,
  .gf_right_third {
    padding: 10px !important;
    width: 100% !important;
  }

  #field_5_3 {
    height: 660px;
  }

  #field_5_12,
  #field_5_14,
  #field_5_21,
  #field_5_22,
  #field_5_23,
  #field_5_69 {
    height: 200px !important;
  }

  #field_5_86,
  #field_5_87,
  #field_5_88 {
    height: 210px !important;
  }

  #field_5_93,
  #field_5_94,
  #field_5_95,
  #field_5_109,
  #field_5_110,
  #field_5_111,
  #field_5_112 {
    height: 160px !important;
  }
  #field_5_97,
  #field_5_115,
  #field_5_116 {
    height: 165px !important;
  }
}

@media only screen and (min-width: 768px) {
  .gf_left_half,
  .gf_right_half,
  .gf_left_third,
  .gf_middle_third,
  .gf_right_third {
    padding: 10px !important;
    width: 100% !important;
  }

  #field_5_3 {
    height: 530px;
  }

  #field_5_101,
  #field_5_102 {
    height: 500px !important;
  }

  #field_5_103 {
    height: 470px !important;
  }

  #field_5_101,
  #field_5_102,
  #field_5_103 {
    width: 49% !important;
  }

  #field_5_12,
  #field_5_14,
  #field_5_21,
  #field_5_22,
  #field_5_23,
  #field_5_69 {
    width: 49% !important;
    height: 170px !important;
  }

  #field_5_86,
  #field_5_87,
  #field_5_88 {
    width: 49% !important;
    height: 200px !important;
  }

  #field_5_93,
  #field_5_94,
  #field_5_95,
  #field_5_109,
  #field_5_110,
  #field_5_111,
  #field_5_112 {
    width: 49% !important;
    height: 150px !important;
  }

  #field_5_97,
  #field_5_115,
  #field_5_116 {
    width: 49% !important;
    height: 150px !important;
  }

  #field_5_12,
  #field_5_21,
  #field_5_23,
  #field_5_86,
  #field_5_88,
  #field_5_93 {
    margin-right: 8px !important;
  }

  .ginput_container_singleproduct {
    padding: 0px !important;
  }
}

@media only screen and (min-width: 992px) {
  .gf_left_half,
  .gf_right_half,
  .gf_left_third,
  .gf_middle_third,
  .gf_right_third {
    width: 80% !important;
  }

  #field_5_3 {
    height: 520px;
  }

  #field_5_101,
  #field_5_102,
  #field_5_103 {
    height: 520px !important;
    width: 32% !important;
  }

  #field_5_12,
  #field_5_14,
  #field_5_21,
  #field_5_22,
  #field_5_23,
  #field_5_69 {
    width: 32% !important;
  }

  #field_5_86,
  #field_5_87,
  #field_5_88 {
    width: 32% !important;
    height: 200px !important;
  }

  #field_5_93,
  #field_5_94,
  #field_5_95,
  #field_5_109,
  #field_5_110,
  #field_5_111,
  #field_5_112 {
    width: 32% !important;
    height: 180px !important;
  }

  #field_5_115,
  #field_5_116,
  #field_5_97 {
    width: 32% !important;
    height: 150px !important;
  }

  .gf_left_third,
  .gf_middle_third {
    margin-right: 8px !important;
  }
}

@media only screen and (min-width: 1078px) {
  .gf_left_half,
  .gf_right_half,
  .gf_left_third,
  .gf_middle_third,
  .gf_right_third {
    width: 60% !important;
  }

  #field_5_3 {
    height: 525px;
  }

  #field_5_101,
  #field_5_102,
  #field_5_103 {
    height: 500px !important;
  }

  #field_5_12,
  #field_5_14,
  #field_5_21,
  #field_5_22,
  #field_5_23,
  #field_5_69 {
    height: 180px !important;
  }

  #field_5_86,
  #field_5_87,
  #field_5_88 {
    height: 200px !important;
  }

  #field_5_93,
  #field_5_94,
  #field_5_95,
  #field_5_109,
  #field_5_110,
  #field_5_111,
  #field_5_112 {
    height: 150px !important;
  }

  #field_5_97 {
    height: 150px !important;
  }
}

@media only screen and (min-width: 1400px) {
  #field_5_101,
  #field_5_102,
  #field_5_103 {
    height: 400px !important;
  }

  #field_5_86,
  #field_5_87,
  #field_5_88 {
    height: 180px !important;
  }

  #field_5_93,
  #field_5_94,
  #field_5_95,
  #field_5_109,
  #field_5_110,
  #field_5_111,
  #field_5_112 {
    height: 150px !important;
  }

  #field_5_97,
  #field_5_115,
  #field_5_116 {
    height: 120px !important;
  }
}

.ui-datepicker-next,
.ui-datepicker-prev {
  display: none !important;
}

#gfield_description_5_108 {
  color: #0a2657;
}

#ui-datepicker-div
  > div
  > div
  > select.ui-datepicker-year
  > option:not(:nth-child(101)) {
  display: none !important;
}

#ui-datepicker-div
  > div
  > div
  > select.ui-datepicker-month
  > option:nth-child(-n + 10),
#ui-datepicker-div
  > div
  > div
  > select.ui-datepicker-month
  > option:last-child {
  display: none !important;
}

.ui-datepicker-header {
  background-color: #0a2657 !important;
  border-color: #0a2657 !important;
}
